* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  /* height: 100%; */
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
.background {
  padding: 0;
  margin: 0;
  background-image: url("./assets/repeat-pattern.jpeg");
  background-size: 500px;
  background-repeat: repeat;
  height: 100%;
}

.link {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #6f6f6f;
}
.link:hover {
  color: #AB6614;
}
.dashboard-link {
  text-decoration: none;
  font-size: 17px;
  font-weight: regular;
  color: #000000;
}
.dashboard-link:hover {
  color: #AB6614;
  font-weight: bold;
}
.active {
  color: black;
  font-weight: bold;
  text-decoration: none;
  /* background-color: #AB6614; */
}
.recipe-button {
  background-color: #ffffffc8;
  /* background-color: #888888cd; */
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  color: #AB6614;
  font-size: 1rem;
  font-weight: 700;
}
.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.illust {
  width: 100px;
  display: block;
  position: relative;
  top: -70px;
  left: -30px;
}
.illust:hover {
  transform: rotate(5deg);
}

.image-input {
  height: 30px;
  width: 300px;
  position: absolute;
  z-index: 100;
  color: rgb(0, 0, 0);
  background-color: #ffffffc8;
  text-align: center;
}
.image-dev {
  position: relative;
  height: 100%;
  width: 100%;
}
.avatar-input {
  height: 30px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  color: rgb(0, 0, 0);
  background-color: #ffffffc8;
  text-align: center;
}
.avatar-img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
}

@media screen and (max-width: 767px) {
  .illust {
    width: 70px; 
  }
}