* {
  font-family: 'Lato', sans-serif;
  /* background-color: #ffffffdb; */

  /* color: #6f6f6f; */
}
.background {
  padding: 0;
  margin: 0;
  background-image: url("./assets/repeat-pattern.jpeg");
  background-size: 500px;
  background-repeat: repeat;
}

.link {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #6f6f6f;
}
.link:hover {
  color: #AB6614;
}
.dashboard-link {
  text-decoration: none;
  font-size: 17px;
  font-weight: regular;
  color: #000000;
}
.dashboard-link:hover {
  color: #AB6614;
  font-weight: bold;
}
.active {
  color: black;
  font-weight: bold;
  text-decoration: none;
  /* background-color: #AB6614; */
}
.recipe-button {
  background-color: #ffffffc8;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border-color: black;
  border-width: 1px;
  color: #AB6614;
  font-size: 1rem;
  font-weight: 700;
}